.pt-3-half {
    padding-top: 1.4rem;
}

.web-dev-overflow{
    overflow-x: scroll;

}

.web-dev-text-size-transaction{
    font-size: small;
    font-style: normal;
}

.web-dev-within-budget{
    color: white;
    background-color: darkgreen;
    border-radius: 25px;
}

.web-dev-over-budget{
    color: white;
    background-color: darkred;
    border-radius: 25px;
}